<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="app">
            <directory>SleeperApi</directory>
        </testsuite>
    </testsuites>
    <report>
        <clover outputFile="../build/logs/clover.xml"/>
    </report>
</phpunit>
