<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="../vendor/autoload.php">
    <testsuites>
        <testsuite name="app">
            <directory>SleeperApi</directory>
        </testsuite>
    </testsuites>
    <logging>
        <testdoxXml outputFile="./build/logs/clover.xml"/>
    </logging>
</phpunit>
